<mat-nav-list>
  <a mat-list-item routerLink="./landing" routerLinkActive="active-list-item">
    <div class="icon">
      <mat-icon mat-list-icon>home</mat-icon>
      <span>Home</span>
    </div>
  </a>
  <ng-container *ngIf="loggedInUser$ | async as user">
    <ng-container *ngIf="user.role === 'superadmin'">
      <a mat-list-item routerLink="./roles" routerLinkActive="active-list-item">
        <div class="icon">
          <mat-icon mat-list-icon>key</mat-icon>
          <span>Role management</span>
        </div>
      </a>
    </ng-container>
  </ng-container>

  <a mat-list-item routerLink="./users" routerLinkActive="active-list-item">
    <div>
      <mat-icon mat-list-icon>groups</mat-icon>
      <span class="w-100">User management</span>
    </div>
  </a>
</mat-nav-list>
