<div class="login-page-container">
  <mat-card class="login-form-card">
    <div class="login-logo-container">
      <img
        src="assets/images/app-logo.png"
        alt="app-logo"
        class="login-logo-image"
      />
    </div>
    <mat-card-content>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        class="login-actual-form"
      >
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            formControlName="username"
            placeholder="Enter your username"
            type="text"
          />
          @if (
            loginForm.controls["username"].invalid &&
            (loginForm.controls["username"].touched ||
              loginForm.controls["username"].dirty)
          ) {
            <mat-error>
              @if (loginForm.controls["username"].errors?.["required"]) {
                <span>*Username is a required field</span>
              }
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            type="password"
            placeholder="Enter your password"
          />
          @if (
            loginForm.controls["password"].invalid &&
            (loginForm.controls["password"].touched ||
              loginForm.controls["password"].dirty)
          ) {
            <mat-error>
              @if (loginForm.controls["password"].errors?.["required"]) {
                <span>*Password is a required field</span>
              }
            </mat-error>
          }
        </mat-form-field>

        <div class="info-message-container" *ngIf="loginFormErrorMessage">
          <p class="info-message-text">{{ loginFormErrorMessage }}</p>
        </div>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="
            loginForm.invalid ||
            formSubmissionStatus === FormSubmissionStatus.inProgress
          "
          class="login-submit-button"
        >
          @if (formSubmissionStatus === FormSubmissionStatus.inProgress) {
            <app-spinner />
          } @else {
            <span>Submit</span>
          }
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
