<mat-toolbar class="navbar-container">
  <mat-toolbar-row>
    <a routerLink="./landing" class="navbar-brand">
      <img
        src="assets/images/app-logo.png"
        alt="YouPass Logo"
        class="navbar-logo"
      />
      <span class="navbar-app-name">YouPass</span>
    </a>
    <span class="navbar-spacer"></span>
    <!-- Add (click)="logout()" if you have a logout method in your component -->
    <button
      mat-raised-button
      color="warn"
      (click)="logout()"
      aria-label="Logout"
    >
      Logout
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
