<mat-toolbar>
  <mat-toolbar-row>
    <a href="#" class="flex ms-2 md:me-24">
      <img
        src="assets/images/app-logo.png"
        class="h-8 me-3"
        alt="YouPass Logo"
      />
      <span
        class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white"
        >YouPass</span
      >
    </a>
    <span class="navbar-spacer"></span>
    <button mat-icon-button aria-label="icon-button with logout icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
