<h2 mat-dialog-title>
  {{ matDialogData.userToEdit === undefined ? "Add new user" : "Edit user" }}
</h2>
<mat-dialog-content class="mat-typography">
  <div class="role-form-dialog-content-inner">
    <form
      [formGroup]="userForm"
      (ngSubmit)="onSubmit()"
      class="form-vertical-spacing"
    >
      <div class="flex-form-fields">
        <!-- First Name -->
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" placeholder="John" />
          @if (firstName?.invalid && (firstName?.dirty || firstName?.touched)) {
            <mat-error>
              @if (firstName?.errors?.["required"]) {
                <span>First name is required.</span>
              }
            </mat-error>
          }
        </mat-form-field>

        <!-- Last Name -->
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" placeholder="Doe" />
          @if (lastName?.invalid && (lastName?.dirty || lastName?.touched)) {
            <mat-error>
              @if (lastName?.errors?.["required"]) {
                <span>Last name is required.</span>
              }
            </mat-error>
          }
        </mat-form-field>
      </div>
      <!-- Username  -->
      <div class="flex-form-fields">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input
            matInput
            formControlName="username"
            placeholder="frontdesk_admin"
          />
          @if (username?.invalid && (username?.dirty || username?.touched)) {
            <mat-error>
              @if (username?.errors?.["required"]) {
                <span>Username is required.</span>
              } @else if (username?.errors?.["whitespace"]) {
                <span>No whitespace allowed.</span>
              }
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{
            this.matDialogData.userToEdit === undefined
              ? "Password"
              : "New Password"
          }}</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="********"
          />
          @if (password?.invalid && (password?.dirty || password?.touched)) {
            <mat-error>
              @if (password?.errors?.["required"]) {
                <span>Password is required.</span>
              }
            </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="flex-form-fields">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            placeholder="name@companydomain.com"
            type="email"
          />
          @if (email?.invalid && (email?.dirty || email?.touched)) {
            <mat-error>
              @if (email?.errors?.["required"]) {
                <span>Email is required.</span>
              } @else if (email?.errors?.["email"]) {
                <span>Please enter a valid email address.</span>
              }
            </mat-error>
          }
        </mat-form-field>
        <!-- Role Selection -->
        <mat-form-field>
          <mat-label>Role</mat-label>
          <mat-select formControlName="roleName" placeholder="Select a role">
            @for (role of availableRoles; track role.name) {
              <mat-option [value]="role.name">{{ role.name }}</mat-option>
            }
          </mat-select>
          @if (
            roleName?.invalid &&
            (roleName?.dirty || roleName?.touched) &&
            roleName?.errors?.["required"]
          ) {
            <mat-error>Role is required.</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="flex-form-fields">
        <!-- Phone -->
        <mat-form-field appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone" placeholder="+1234567890" />
          @if (phone?.invalid && (phone?.dirty || phone?.touched)) {
            <mat-error>
              @if (phone?.errors?.["pattern"]) {
                <span>Number is invalid.</span>
              }
            </mat-error>
          }
        </mat-form-field>

        <!-- Department -->
        <mat-form-field appearance="outline">
          <mat-label>Department</mat-label>
          <input
            matInput
            formControlName="department"
            placeholder="Marketing"
          />
        </mat-form-field>
      </div>

      <mat-dialog-actions align="end">
        <button
          mat-flat-button
          type="submit"
          class="bg-primary text-white hover:bg-pink-700 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-pink-500 dark:hover:bg-pink-600 dark:focus:ring-pink-700"
        >
          {{
            matDialogData.userToEdit === undefined
              ? "Create user"
              : "Update user"
          }}
        </button>
        <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial>
          Close
        </button>
      </mat-dialog-actions>
    </form>
  </div>
</mat-dialog-content>
