.app-sidenav-container {
  // Ensure the container takes up the full height available after the navbar
  // The `fixedTopGap` on mat-sidenav handles the visual positioning of the sidenav itself.
  // The container height is important for the scrollability of mat-sidenav-content.
  height: calc(
    100vh - 64px
  ); // Assuming navbar height is 64px. Adjust if different.
  // This should match the `navbarHeight` property.
}

mat-sidenav {
  width: 220px;
  border-radius: none;
  border-right: 1px solid #d7e3fe;
  border-radius: unset;
}
